html {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
line-height: 1.5;
font-weight: 400;
color: #192229;
font-size: 1.25em;
overflow-x: hidden;
scroll-snap-type: y mandatory;
}

.scroll-container, .scroll-area {
width: 100%;
}

.scroll-container {
height: 100%;
}

.scroll-area {
height: 100vh;
  display: flex;
flex-direction: column;
justify-content: center;
scroll-snap-align: start;
background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

.scroll-area.logo-container {
  align-items: center;
}


/* SMS BUBBLES */
.logobubble{
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.5),  0.03rem 0.03rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  align-content: center;
  text-align: center;
}

.logobubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 16px;
  width:  20px;  
position: absolute;
  bottom: -6px;
right: 48%;
box-shadow: 0 .5rem .8rem rgba(0, 0, 0, 0.3);
  transform:             rotate( 296deg ) skew( -35deg );
      -moz-transform:    rotate( 296deg ) skew( -35deg );
      -ms-transform:     rotate( 296deg ) skew( -35deg );
      -o-transform:      rotate( 296deg ) skew( -35deg );
      -webkit-transform: rotate( 296deg ) skew( -35deg );
}

.logo {
width: 250px; 
}

.arrow-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.scroll-down {
position: relative;
bottom: -110%;
  ight: auto;
  left: 45%;
font-weight: 400;
font-size: .75em;
opacity: .75;
  width: 3vh;
-ms-transform: rotate(-90deg); /* IE 9 */
transform: rotate(-90deg);
  
}

[class^="sms"] {
display: flex;
 flex-direction: column;
 text-align: left;
 position: relative;
 box-sizing: border-box;
 padding: 10px;
}


.bubble{
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.3), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  vertical-align: top;
  margin: 2vh 5vw 2vh 5vw;
  
}

.bubble::before {
  background-color: #FFF;
  content: "\00a0";
  display: block;
  height: 16px;
  position: absolute;
  top: 11px;
  transform:             rotate( 29deg ) skew( -35deg );
      -moz-transform:    rotate( 29deg ) skew( -35deg );
      -ms-transform:     rotate( 29deg ) skew( -35deg );
      -o-transform:      rotate( 29deg ) skew( -35deg );
      -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;

}


.me {   
float: left;   
  padding: .3em 1em;
      align-items: flex-start;
}

.me::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;           
}

.you {
  float: right;    
  padding: .3em 1em;
align-items: flex-end;
}

.you::before {
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;    
}


/* PROGRESS HEADER */
.header {  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  opacity: 1;
  height: 60px;
  background-color: rgba(235, 235, 235, .95);
  box-shadow: 5px 5px 10px rgba(128, 128, 128, .5);
}

.header .profilepic {
  position: absolute;
  height: 35px;
  margin: 3px auto 0 auto;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: white;
  border-radius: 50%;
}

.header .arrow {
  position: absolute;
  height: 10px;
  top: 35%;
  left: 35px;
}



.header h2 {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin-top: 37px;
}

.progress-container {
  position: absolute;
  width: 100%;
  height: 8px;
  background: #ccc;
  bottom: 0;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

@media screen and (max-width: 50em) {
  html {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #192229;
  font-size: 1em;
  }
  
  body {
    height: 100%;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
  }

  .bubble {
  margin: 1vh 5vw 1vh 5vw;
  }
  
}